* {
  box-sizing: border-box
}

body{
  --teal: #4aaaa5;
  --dark-gray: #666666;
  --white: #fff;
  --bg0: #81c3c0;
  --bg1: #a3d3d1;
  --bg2: #b4dcda;
  --bg3: #c6e4e2;
  --bgactive: #52ada8;
  --navy: #344882;
  --secondary1: #2e615f;
}

html {
  background: url("../images/cloudy-day/cloudy-day.png");
  /*-webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;*/
}

body
{ background-color: transparent; }

.background-bg0{
  background: var(--bg0);
}

.background-bg1{
  background: var(--bg1);
}

.background-bg2{
  background: var(--bg2);
}

.background-bg3{
  background: var(--bg3);
}

.background-dark-gray{
  background: var(--dark-gray);
}

.background-content{
  background: var(--white);
}

.background-navy{
  background: var(--navy)
}

.background-teal{
  background: var(--teal);
}

.background-white{
  background: var(--white);
}

.bio_image{
  height: 15.3125em;
  width: 11.1875em;
}

.border-content{
  border: 2px solid var(--bg0);
}

.flex{
  display: flex;
}

.flex-around{
  justify-content: space-around;
}

.flex-between{
  justify-content: space-between;
}

.flex-nowrap{
  flex-wrap: nowrap;
}

.flex-vcenter{
  align-items: center;
}

.font-bold{
  font-weight: bold;
}

.font-primary{
  color: var(--secondary1)
}

.footer{
  position: absolute;
  bottom: 0;
  height: 60px;
  background-color: red;
}

.height100{
  height: 100%
}

.iconsize{
  height: 50px;
  width: 50px;
}

.inline{
  display: inline-block;
}

.margin-content{
  margin: 1em;
}

.nav-tabs{
  background-color: var(--white);
}

.nav-tabs > li > a{
  border: medium none;
}

.nav-tabs > li.active > a{
  border: medium none;
  background-color: var(--bg2)
}

.nav-tabs > li > a:hover{
  background-color: var(--bg3);
    border: medium none;
    border-radius: 0;
    color:#fff;
}

.padding-content{
  padding: .5em;
}
