* {
  box-sizing: border-box
}

body{
  --teal: #4aaaa5;
  --dark-gray: #666666;
  --white: #fff;
}

.background-dark-gray{
  background: var(--dark-gray);
}

.background-teal{
  background: var(--teal);
}

.background-white{
  background: var(--white);
}

.bio_image{
  height: 15.3125em;
  width: 11.1875em;
}

.flex{
  display: flex;
}

.flex-around{
  justify-content: space-around;
}

.flex-between{
  justify-content: space-between;
}

.footer{
  position: absolute;
  bottom: 0;
  height: 60px;
  background-color: red;
}

.iconsize{
  height: 50px;
  width: 50px;
}

.inline{
  display: inline-block;
}
